
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.2rem 4rem;            
  
  background-color: transparent; 
  border-bottom: none;              
  box-shadow: none;                 
  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;                
}
.navbar.scrolled {
  background-color: transparent; 
  border-bottom: none;
  box-shadow: none;                 
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;                        
}

.photo {
  height: 120px; 
  width: 300px;                     
  object-fit: contain;
  background: transparent;
  
  transform: scale(1.6); 
  margin-top: -15px; 
  margin-bottom: -15px; 
  
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.photo:hover {
  transform: scale(1.7);             
}

.nav-links {
  display: flex;                   
  align-items: center;
  gap: 40px; 
  list-style: none;
  margin: 0;
  padding: 0;
}